
:root {
    --trans: all ease-in-out;
    --two-sec: 0.2s;
    --three-sec: 0.3s;
    --five-sec: 0.5s;

    --slow-trans: var(--trans) var(--five-sec);
    --fast-trans: var(--trans) var(--two-sec);
    --default-trans: var(--trans) var(--three-sec);
}