

/* divider animation  */

.divider{
    position: relative;
    margin: 20px 0;
}

.divide-rule{
    max-width: 150px;
    height: 6px;
    background-color: var(--c-grey-100);
    border: none;
    border-radius: 2px;
}

.animated-ball{
    position: absolute;
    top: -5px;
    width: 15px;
    height: 15px;
    background-color: var(--c-primary);
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes ball {
    0% {
        left: 0;
    }
    50%{
        left: 25%;
    }
    100%{
        left: 0;
    }
}