/* secondary navbar  */
.secondary-navbar-container{
    background-color: var(--c-primary);
    height: var(--h-secondaryheader);
    color: var(--c-white);
    position: relative;
}
.secondary-navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.socials-button-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* primary navbar  */
.primary-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--h-primaryheader);
}

.primary-navlist{
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: var(--font-semibold);
    color: var(--c-grey-100);
}

.mobile-navbar{
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mobile-navbar-menulists{
    position: absolute;
    width: 100%;
    color: black;
    background-color: hsl(0, 0%, 100%);
    top: var(--h-mobile-navbar);
    left: 0;
    z-index: 2;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    font-family: var(--font-semibold);
    transition: var(--default-trans);
}

.menu-link{
    transition: var(--default-trans);

}

.menu-item:hover .menu-link{
    color : var(--c-primary)
}
.menu-item:hover{
    background-color : hsl(0, 0%, 98%)
}

