
.title-xxl {
    font-size: 50px;
    font-family: var(--font-Extrabold);
}

.title-xl {
    font-size: 40px;
    font-family: var(--font-Extrabold);
}

.title-l {
    font-size: 20px;
    font-family: var(--font-Extrabold);
}

.title-m {
    font-size: 15px;
    font-family: var(--font-Extrabold);
}

.title-s {
    font-size: 10px;
    font-family: var(--font-Extrabold);
}